<div class="row">
  <div class="col-5">
    <img src="./assets/japogimp.jpg" class="img-fluid hover-shadow" alt="img code" />
  </div>
  <div class="col-7  d-flex align-items-center">
    <p class="text-center ">
      Witam na stronie o mnie.
      <br>
      Jestem absolwentka Inżynierii Biomedycznej na Politechnice Koszalinskiej. Mam stopien inżyniera który uzyskałam w 2015 roku na specjalizacji Informatyka w Medycynie. Praca dyplomowa obejmowała zagadnienia z dziedziny modelowania procesów nowotworowych przy użyciu programu MATLAB.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-7 d-flex align-items-center">
    <p class="text-center">
      Jednocześnie w trakcie studiów zainteresowałam się tematem programowania. Hobbistycznie zajmuję się nauka programowania stron internetowych, tworzeniem gier koputerowych i innych zagadnien zwiazanych z tym tematem.
    </p>
  </div>
  <div class="col-5">
    <img src="./assets/unreal-engine.png" class="img-fluid hover-shadow" alt="img ue" />
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="./assets/foodcool.jpg" class="img-fluid hover-shadow" alt="img code" />
  </div>
  <div class="col-7 d-flex align-items-center">
    <p class="text-center">
      Poza wymienionymi zagadnieniami lubię gotować(aż za bardzo!), jestem memologiem, a czasem topię coś w żywicy epoksydowej. Słucham muzyki rockowej i lubię śpiewać.    
    </p>
  </div>
