<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="./assets/code.jpg" class="img-fluid hover-shadow" alt="img code" />
    </div>
    <div class="col-8  d-flex align-items-center">
      <p class="text-center ">
        Lorem ipsum dolor sit amet consectetur adipisicing, elit. Maiores, nostrum pariatur cupiditate aut est nemo sapiente atque vitae repellat, amet iste distinctio esse quas accusantium consectetur, delectus ratione asperiores quidem.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-8 d-flex align-items-center">
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, nihil? Eveniet quisquam id maxime ex corporis incidunt nulla? Maxime distinctio earum illum explicabo, itaque, tempora. Minus ab commodi natus ea!
      </p>
    </div>
    <div class="col-4">
      <img src="./assets/unreal-engine.png" class="img-fluid hover-shadow" alt="img ue" />
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="./assets/pexels-office.jpg" class="img-fluid hover-shadow" alt="img code" />
    </div>
    <div class="col-8 d-flex align-items-center">
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, nihil? Eveniet quisquam id maxime ex corporis incidunt nulla? Maxime distinctio earum illum explicabo, itaque, tempora. Minus ab commodi natus ea!
      </p>
    </div>
  </div>
</div>
