<div class="container">
  <div class="card"  *ngFor="let project of projects; index as i; trackBy: trackByFn">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="" class="img-fluid" />
      <a href="#!">
        <div class="mask"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
      <a href="#!" class="btn btn-primary">Button</a>
    </div>
  </div>
</div>
