.container
	height: 90vh

.row-of-projects
	margin-top: 50px

.mask
	background-color: rgba(251, 251, 251, 0.5)

.col
	min-height: 370px

.row
	display: flex
	flex-wrap: wrap

.card-img-top
	height: 200px
	// width: 200px
	object-fit: cover
	margin: auto

.projImage
	max-height: 500px
	width: 100%
	object-fit: inherit
	margin: auto


