<div class="container" >
  <div class="row">
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
      <img src="./assets/letter.jpg" class="img-fluid hover-shadow" alt="img code" id="contacts"/>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
      <div class="justa-contact-data">
        <h1>Justyna Stobiecka</h1>
        <a class="d-flex align-items-center" href= " mailto: cooperation.justa.stobiecka@gmail.com">
          <i class="far fa-envelope fa-2x"></i>
            cooperation.justa.stobiecka@gmail.com</a>
        <a class="d-flex align-items-center" href="https://www.linkedin.com/in/justyna-stobiecka">
          <i class="fab fa-linkedin-in fa-2x"></i>
            https://www.linkedin.com/in/justyna-stobiecka
        </a>
        <a class="d-flex align-items-center" href="https://github.com/JustynaJPL"> 
          <i class="fab fa-github fa-2x"></i> 
            https://github.com/JustynaJPL
        </a>
        <a class="d-flex align-items-center " href="https://www.youtube.com/channel/UCcude4LubAYW_KoOle6RrrQ"> 
          <i class="fab fa-youtube fa-2x"></i> 
            https://www.youtube.com/channel/UCcude4LubAYW_KoOle6RrrQ 
        </a>
        <a class="d-flex align-items-center " href="https://www.artstation.com/kyonea"> 
          <i class="fab fa-artstation fa-2x"></i>
            https://www.artstation.com/kyonea
        </a>
        
      </div>
      <div class="judge-cookie-contact-data">
        <h1>Judge Cookie</h1>
        <a class="d-flex align-items-center " href="mailto: judgecookie.contact@gmail.com">
          <i class="far fa-envelope fa-2x"></i> 
            judgecookie.contact@gmail.com 
        </a>
        <a class="d-flex align-items-center " href="https://www.youtube.com/channel/UC4kDgov8Aemzf63U6EL9bqw"> 
          <i class="fab fa-youtube fa-2x"></i> 
            https://www.youtube.com/channel/UC4kDgov8Aemzf63U6EL9bqw
        </a>
      </div>     
    </div>
  </div>
</div>
