img
	height: 80%
	margin: auto

i
	margin: 10px 20px
	

p
	font-style: italic

.fa-envelope
	color: #00B146FF

.fa-linkedin-in
	color: #1266F1FF

.fa-github
	color: #2B2A33FF

.fa-youtube
	color: #FF0000FF

.fa-artstation
	color: #13AFF0FF


