<div class="container" id="contacts">
  <div class="row">
    <div class="col-6">
      <img src="./assets/photocontact.jpg" class="img-fluid hover-shadow" alt="img code" />
    </div>
    <div class="col-6">
      <div class="justa-contact-data">
      	<p>Justyna Stobiecka</p>
      	<p>cooperation.justa.stobiecka@gmail.com</p>
      	<p>https://www.linkedin.com/in/justyna-stobiecka/</p>
      	<p>https://github.com/JustynaJPL</p>
      	<p>https://www.youtube.com/channel/UCcude4LubAYW_KoOle6RrrQ</p>
      </div>
      
      <div class="judge-cookie-contact-data">
      	<p>Judge Cookie</p>
      	<p>judgecookie.contact@gmail.com</p>
      	<p>https://www.youtube.com/channel/UC4kDgov8Aemzf63U6EL9bqw</p>
      </div>
      
      <p>
        Zdjęcie autorstwa luis gomes z Pexels
      </p>
      <p>
        Zdjęcie autorstwa Polina Zimmerman z Pexels
      </p>
    </div>
  </div>
</div>
