<div class="container" id="contacts">
  <div class="row">
    <div class="col-6">
      <img src="./assets/photocontact.jpg" class="img-fluid hover-shadow" alt="img code" />
    </div>
    <div class="col-6">
      <div class="justa-contact-data">
        <h1>Justyna Stobiecka</h1>
        <p class="d-flex align-items-center">
          <i class="far fa-envelope fa-2x"></i>
            cooperation.justa.stobiecka@gmail.com</p>
        <p class="d-flex align-items-center">
          <i class="fab fa-linkedin-in fa-2x"></i>
            https://www.linkedin.com/in/justyna-stobiecka
        </p>
        <p class="d-flex align-items-center "> 
          <i class="fab fa-github fa-2x"></i> 
            https://github.com/JustynaJPL
        </p>
        <p class="d-flex align-items-center "> 
          <i class="fab fa-youtube fa-2x"></i> 
            https://www.youtube.com/channel/UCcude4LubAYW_KoOle6RrrQ 
        </p>
      </div>
      <div class="judge-cookie-contact-data">
        <h1>Judge Cookie</h1>
        <p class="d-flex align-items-center ">
          <i class="far fa-envelope fa-2x"></i> 
            judgecookie.contact@gmail.com 
        </p>
        <p class="d-flex align-items-center "> 
          <i class="fab fa-youtube fa-2x"></i> 
            https://www.youtube.com/channel/UC4kDgov8Aemzf63U6EL9bqw
        </p>
      </div>
      <p>
        Zdjęcie autorstwa luis gomes z Pexels
      </p>
      <p>
        Zdjęcie autorstwa Polina Zimmerman z Pexels
        <br>
        Photo by Miguel Á. Padriñán: https://www.pexels.com/photo/yellow-orange-and-green-3x3-rubik-s-cube-19677/
        <br>
        Photo by Alex Andrews: https://www.pexels.com/photo/photo-of-supernova-in-galaxy-3805983/
<br>
DODAĆ KONTO NA ARTSTATION
      </p>
    </div>
  </div>
</div>
