<div class="row">
  <div class="col-4">
  	<img src="/assets/angular_logo.png" class="card-img-top" alt="..." />
  </div>
  <div class="col-4">
  	<img src="/assets/blender_logo.png" class="card-img-top" alt="..." />
  </div>
  <div class="col-4">
  	<img src="assets/unreal.png" class="card-img-top" alt="..." />
  </div>
</div>
<div class="row">
  <div class="col-4">
  	<img src="assets/gimp-logo.png" class="card-img-top" alt="..." />
  </div>
  <div class="col-4 d-flex flex-column justify-content-center align-items-center">
  	<p>Chciałbyś zobaczyć czym się zajmuje?</p>
  	<button class="btn btn-lg btn-danger btn-rounded" routerLink = "/show-projects">Sprawdz!</button>

  </div>
  <div class="col-4">
  	<img src="assets/GitHub-Logo.png" class="card-img-top" alt="..." />
  </div>
</div>
<div class="row">
  <div class="col-4">
  	<img src="assets/YouTube-Logo.png" class="card-img-top" alt="..." />
  </div>
  <div class="col-4">
  	<img src="assets/node_logo.svg" class="card-img-top" alt="..." />
  </div>
  <div class="col-4">
  	<img src="assets/makehuman.png" class="card-img-top" alt="..." />
  </div>
</div>
