<nav class="navbar">
  <div class="container">
      <img src="././assets/avatar.png" alt="loading failed" class="mx-auto d-block avatar">
    <div class="row">
    	<button class="btn btn-outline btn-list" routerLink = '/about'>
    		O mnie
    	</button>
    	<button class="btn btn-outline btn-list" routerLink = '/my-projects'>
    		Moje projekty
    	</button>
    	<button class="btn btn-outline btn-list" routerLink = '/contact'>
    		kontakt
    	</button>
      <!-- <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul> -->
    </div>
  </div>
</nav>
