@import '../material-design-theme-amber-tile.sass'

// $primaryColor: #ffc400
// $primaryLightColor: #fff64f
// $primaryDarkColor: #c79400
// $secondaryColor: #00685b
// $secondaryLightColor: #439688
// $secondaryDarkColor: #003d32
// $primaryTextColor: #000000
// $secondaryTextColor: #EEEEEE
// $backgroundColorDarker: #E1E2E1FF
// $backgroundColorLighter: #F5F5F6FF


ul
	width: 80%
	list-style-type: none

.btn
	margin: 20px 50px
	background-color: $secondaryLightColor
	border-color: $secondaryLightColor

.bar
	width: 100%
	height: 5px
	background-color: $primaryDarkColor

.navigation
	background-color: $primaryColor